@font-face {
  font-family: "FZCYJ";
  src: url("../common/font/JasonHandwriting1-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "FZCYJ";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.vs-popup .vs-popup--header h3 {
  font-size: 2rem;
  color: brown;
  text-align: center;
}

.vs-popup .vs-popup--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vs-popup .vs-popup--content img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.vs-notifications h3 {
  padding: 1rem;
  margin-bottom: 0;
}

.vs-notifications p {
  display: none;
}

.vs-notifications .vs-icon-noti {
  padding: 0;
  background: rgba(0, 0, 0, 0) !important;
}

#app #navbarContent {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#app #navbarContent .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  text-shadow: 0 0 5px black;
  font-weight: bolder;
}

#app #navbarContent .row a {
  color: white;
  position: relative;
}

#app #navbarContent .row a:hover {
  text-decoration: none;
}

#app #navbarContent .row a::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 0;
  left: -100vw;
  z-index: 999;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#app #navbarContent .row a:hover::before {
  left: -30px;
  width: 20px;
}

#app #navbarContent .row a::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 0;
  right: -100vw;
  z-index: 999;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#app #navbarContent .row a:hover::after {
  width: 20px;
  right: -30px;
}

#app #navbarContent .vs-icon {
  position: absolute;
  right: 3%;
  top: 3%;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

#app #navbarContent img {
  height: 100px;
}

#app #bigNav {
  position: absolute;
  right: 2%;
  top: 2%;
  z-index: 10;
  cursor: pointer;
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.5);
  -webkit-filter: drop-shadow(0 0 10px white);
          filter: drop-shadow(0 0 10px white);
}

#app #bigNav:hover {
  color: black;
}

#home {
  height: 100vh;
}

#home div {
  max-width: 100%;
  padding: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

@media (min-width: 768px) {
  #home div {
    overflow: hidden;
  }
}

#home a {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  text-decoration: none;
  text-shadow: 0 0 5px black;
  font-weight: bolder;
}

#home a::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 1px;
  z-index: 999;
  top: calc(50% - 30px);
  left: calc(50% - 75px);
  background-color: white;
  -webkit-animation: width 0.5s ease 2s forwards;
          animation: width 0.5s ease 2s forwards;
}

#home a::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 1px;
  z-index: 999;
  top: calc(50% + 30px);
  right: calc(50% - 75px);
  background-color: white;
  -webkit-animation: width 0.5s ease 2.5s forwards;
          animation: width 0.5s ease 2.5s forwards;
}

@-webkit-keyframes width {
  from {
    width: 0;
  }
  to {
    width: 150px;
  }
}

@keyframes width {
  from {
    width: 0;
  }
  to {
    width: 150px;
  }
}

.backdrop:hover {
  -webkit-backdrop-filter: brightness(20%);
          backdrop-filter: brightness(20%);
}

#product {
  height: 100vh;
}

#product #header {
  position: relative;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product #header svg {
  position: absolute;
  bottom: 0;
}

#product .hooper {
  height: 300px;
  padding-top: 5rem;
}

#product .hooper .hooper-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product .hooper .hooper-track .hooper-slide {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#product .hooper .hooper-track .hooper-slide .img {
  width: calc(100% - 10px);
  height: calc(50vw - 90px);
  border-radius: 50%;
  margin: 1rem 0;
}

@media (min-width: 576px) {
  #product .hooper .hooper-track .hooper-slide .img {
    width: 100%;
    height: calc(50vw - 120px);
    border-radius: 50%;
  }
}

#product .cardImg {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

#product .cardImg:hover::after {
  content: "more detail";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  color: white;
  font-size: 1.5rem;
}

#product .cardImg img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 300%;
  max-height: 300%;
  -webkit-transform: translate(-33%, -25%);
          transform: translate(-33%, -25%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
}

#product .cardImg img:hover {
  -webkit-transform: scale(1.1) translate(-30%, -25%);
          transform: scale(1.1) translate(-30%, -25%);
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

#product .cardText button {
  border-radius: 0.5rem;
}

@media (min-width: 576px) {
  #about section h4 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  #about section h4 {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  #about section h4 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  #about section h4 {
    font-size: 3.5rem;
  }
}

#about section:nth-child(1) {
  display: block;
}

#about section:nth-child(2) {
  color: white;
}

#about section:nth-child(2) .story {
  max-width: 80%;
}

#about section:nth-child(2) .story img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  border-radius: 1rem;
}

#about section:nth-child(3) {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about section:nth-child(3) .particle {
  padding: 1rem 0 1rem 0;
  text-align: center;
}

#about section:nth-child(3) .particle .icon {
  background-color: #52453c;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 5px solid goldenrod;
}

@media (min-width: 576px) {
  #about section:nth-child(3) .particle {
    text-align: left;
  }
  #about section:nth-child(3) .particle:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: right;
  }
}

#about section:nth-child(3) img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

#about section:nth-child(4) {
  color: white;
}

#about section:nth-child(4) .story {
  max-width: 80%;
}

#about section:nth-child(4) .story img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  border-radius: 5px;
}

#about section:nth-child(5) {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

#about section:nth-child(5) .h-card:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#about section:nth-child(5) .h-card img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  max-height: 250px;
}

#about section .agile .agile__nav-button {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 24px;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 15vw;
}

#about section .agile .agile__nav-button--prev {
  left: 0;
}

#about section .agile .agile__nav-button--prev:hover {
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(-90deg, transparent, rgba(0, 0, 0, 0.5));
  opacity: 1;
}

#about section .agile .agile__nav-button--next {
  right: 0;
}

#about section .agile .agile__nav-button--next:hover {
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.5));
  opacity: 1;
}

#about section .agile .agile__dots {
  bottom: 10px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#about section .agile .agile__dot {
  margin: 0 10px;
}

#about section .agile .agile__dot button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 10px;
}

#about section .agile .agile__dot:hover button {
  background-color: #fff;
}

#about section .agile .agile__dot--current button {
  background-color: #fff;
}

#about section .slide {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

@media (min-width: 576px) {
  #about section .slide {
    height: 100vh;
  }
}

@media (min-width: 576px) {
  #about section {
    overflow: hidden;
  }
  #about section:nth-child(1), #about section:nth-child(3) {
    height: 100vh;
  }
}

#contact {
  padding-top: 5rem;
}

#contact img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 75%;
}

#contact .footer {
  background-color: black;
}

#news {
  padding-top: 5rem;
  -webkit-transition: 1s;
  transition: 1s;
  min-height: 100vh;
}

#news .carditem:last-child {
  padding-top: 1rem;
}

@media (min-width: 576px) {
  #news .carditem:last-child {
    padding: none;
  }
}

#news .carditem img {
  width: 100%;
  height: 200px;
}

#news #sort {
  padding-right: 2rem;
}

#news #sort label {
  margin-bottom: 0;
}

#news .col {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

#news .col:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: white;
}

#news nav ul {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

#login {
  background: url("https://picsum.photos/1920/1080/?random=1") no-repeat fixed center/cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login .row {
  padding: 1rem 0 1rem 0;
  color: white;
  position: relative;
}

#login .row::after {
  content: "OR";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 1rem;
}

@media (min-width: 992px) {
  #login .row::after {
    top: 50%;
  }
}

#login .row::before {
  content: "";
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 75%;
  height: 1px;
  background-color: white;
}

@media (min-width: 992px) {
  #login .row::before {
    top: 50%;
    width: 1px;
    height: 75%;
  }
}

#login form {
  width: 75%;
}

@media (min-width: 1200px) {
  #login form {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  #login form button {
    font-size: 1.5rem;
  }
}

#login .col-12:last-child button {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}

@media (min-width: 1200px) {
  #login .col-12:last-child button {
    font-size: 1.5rem;
  }
}

#login .footer {
  max-width: 50%;
  margin: auto;
  font-size: 0.8rem;
  color: white;
}

@media (min-width: 768px) {
  #login .footer {
    font-size: 1.5rem;
  }
}

#login a {
  font-size: 0.8rem;
  text-decoration: underline;
}

@media (min-width: 768px) {
  #login a {
    font-size: 1.5rem;
  }
}

#login a:hover {
  text-decoration: none;
}

#sign {
  background: url("https://picsum.photos/1920/1080/?random=1") no-repeat fixed center/cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

#sign .row {
  padding: 1rem 0 1rem 0;
  color: white;
  width: 90%;
  position: relative;
}

@media (min-width: 768px) {
  #sign .row {
    padding: 5rem 0 1rem 0;
  }
}

#sign .logo {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
}

@media (min-width: 768px) {
  #sign .logo {
    width: 100px;
    height: 100px;
  }
}

#sign form {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1200px) {
  #sign form {
    font-size: 2rem;
  }
}

#sign form small {
  font-size: 1rem;
}

#sign form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 1200px) {
  #sign form button {
    font-size: 1.5rem;
  }
}

#sign form .invalid-feedback {
  font-size: 1rem;
}

#sign #verify {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

@media (min-width: 768px) {
  #sign #verify {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-right: auto;
  }
}

#sign .signbtn {
  width: 100%;
}

@media (min-width: 768px) {
  #sign .signbtn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

#member {
  background: url("https://picsum.photos/1920/1080/?random=1") no-repeat fixed center/cover;
}

#member .b-sidebar-outer {
  position: -webkit-sticky !important;
  position: sticky !important;
}

#member .b-sidebar-outer #sidebar {
  position: -webkit-sticky !important;
  position: sticky !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  text-align: center;
  padding-top: 1rem;
}

#member .b-sidebar-outer #sidebar .sidebar-item {
  color: white;
  font-size: 1rem;
  width: 80%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#member .b-sidebar-outer #sidebar .sidebar-item2 {
  color: white;
  font-size: 1rem;
  width: 80%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 992px) {
  #member .b-sidebar-outer #sidebar .sidebar-item2 {
    display: none;
  }
}

#member .b-sidebar-outer .b-sidebar-backdrop {
  position: absolute !important;
  width: 100%;
}

#member .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#member .nav-link:hover {
  text-decoration: none;
}

#member #profile {
  min-height: calc(100vh - 59px);
}

#member #profile img {
  height: 100%;
}

#member #profile .detail {
  height: 75%;
  position: relative;
}

#member #profile .detail::before {
  position: absolute;
  content: "";
  background-color: black;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 1200px) {
  #member #profile .detail::before {
    top: 55%;
    left: 35%;
    width: 1px;
    height: 75%;
  }
}

#member #profile .detail .size {
  max-width: 100%;
}

@media (min-width: 1200px) {
  #member #profile .detail {
    height: 75%;
  }
}

#member #profile .personal {
  height: 15vh;
  position: relative;
}

#member #profile .personal::before {
  position: absolute;
  content: "";
}

@media (min-width: 1200px) {
  #member #profile .personal::before {
    width: 90%;
    height: 1px;
    bottom: -25%;
    left: 50%;
    background-color: black;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (min-width: 992px) {
  #member #profile .personal {
    height: 20vh;
  }
}

#member #privacy {
  height: calc(100vh - 59px);
}

#member #privacy .personal {
  height: 30vh;
  position: relative;
}

#member #privacy .personal::before {
  position: absolute;
  content: "";
}

@media (min-width: 992px) {
  #member #privacy .personal::before {
    width: 90%;
    height: 1px;
    bottom: -25%;
    left: 50%;
    background-color: black;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (min-width: 992px) {
  #member #privacy .personal {
    height: 20vh;
  }
}

#member #cart {
  min-height: calc(100vh - 59px);
}

#member #cart .personal {
  height: 30vh;
  position: relative;
  margin-bottom: 25px;
}

@media (min-width: 992px) {
  #member #cart .personal {
    height: 20vh;
  }
}

#member #cart .flexItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#member #cart .flexItem div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#member #cart .flexItem div img {
  width: 200px;
  max-width: 100%;
  border-radius: 0.5rem;
  height: 100px;
}

@media (min-width: 768px) {
  #member #cart .flexItem {
    max-width: 200px;
    display: table-cell;
  }
}

#member #cart .vs-input-number {
  background: none;
}

#member #track {
  min-height: calc(100vh - 59px);
  height: calc(100% - 59px);
}

#manager {
  background: url("https://picsum.photos/1920/1080/?random=1") no-repeat fixed center/cover;
}

#manager .b-sidebar-outer {
  position: -webkit-sticky !important;
  position: sticky !important;
}

#manager .b-sidebar-outer #sidebar {
  position: -webkit-sticky !important;
  position: sticky !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  text-align: center;
  padding-top: 1rem;
}

#manager .b-sidebar-outer #sidebar .sidebar-item {
  color: white;
  font-size: 1rem;
  width: 80%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#manager .b-sidebar-outer #sidebar .sidebar-item2 {
  color: white;
  font-size: 1rem;
  width: 80%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 992px) {
  #manager .b-sidebar-outer #sidebar .sidebar-item2 {
    display: none;
  }
}

#manager .b-sidebar-outer .b-sidebar-backdrop {
  position: absolute !important;
  width: 100%;
}

#manager .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#manager .nav-link:hover {
  text-decoration: none;
}

#manager #message {
  height: calc(100vh - 59px);
}

#manager #display {
  min-height: calc(100vh - 59px);
}

@media (min-width: 768px) {
  #manager #display .carditem:first-child {
    border-right: 10px solid rgba(0, 0, 0, 0.5);
  }
}

#manager #display .carditem:last-child {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 576px) {
  #manager #display .carditem:last-child {
    padding: none;
  }
}

#manager #display .carditem img {
  width: 100%;
  height: 180px;
}

@media (min-width: 576px) {
  #manager #display .carditem img {
    height: 370px;
  }
}

#manager #display img {
  width: 100%;
  height: 100%;
}

#manager #article {
  min-height: calc(100vh - 59px);
}

@media (min-width: 768px) {
  #manager #article .carditem:first-child {
    border-right: 10px solid rgba(0, 0, 0, 0.5);
  }
}

#manager #article .carditem:last-child {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 576px) {
  #manager #article .carditem:last-child {
    padding: none;
  }
}

#manager #article .carditem img {
  width: 100%;
  height: 180px;
}

@media (min-width: 576px) {
  #manager #article .carditem img {
    height: 294px;
  }
}

#manager #article img {
  width: 100%;
  height: 100%;
}

#manager #membership {
  height: calc(100vh - 59px);
}

#manager #order {
  height: calc(100vh - 59px);
  background-color: white;
}
